Kombit.Samples.Consumer/Service References/Sts/mex21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://kombit.sample.dk/fault" elementFormDefault="qualified" targetNamespace="http://kombit.sample.dk/fault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StsFaultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StsFaultMessage" nillable="true" type="tns:StsFaultMessage" />
</xs:schema>